* {
  /* margin: 0; */
  /* padding: 0; */
  font-family: Arial;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: linear-gradient(135deg, #ffe59d, #ffb347, #f98b20);
}

.container {
  width: 60%;
  min-height: 220px;             
  padding: 30px 20px;           
  border: 1px solid #ff8c00;
  box-shadow: 0 0 40px #ff8c00, 0 0 80px #ffbb33;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.15); 
  transition: height 0.4s ease, padding 0.3s ease;
}


.search-bar {
  padding-bottom: 40px;
}

input {
  height: 50px;
  width: 250px;
  border: 1.5px solid black;
  border-radius: 8px;
  font-size: large;
  outline: none; 

  text-align: center; 
}

.search-icon {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  background-color: red;
  border: none;
  box-shadow: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  cursor: pointer;
}

.sun{
  position: absolute;
  top: 40px;
  left: 40px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: radial-gradient(circle, #ffdf70, #ff8c00);
  box-shadow: 0 0 40px #ff8c00, 0 0 80px #ffbb33;
  border: 1px solid #ff8c00;
}

.img{
  height: 150px; 
  width: 100px;
}

.krishna {
  background-color: #0d1b2a;

  padding: 14px 28px;        
  font-size: 16px;           
  font-weight: 600;

  border-radius: 8px;
  border: none;

  position: absolute;
  bottom: 40px;
  right: 50px;

  cursor: pointer;

  color: white;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.weather-output {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}


.weather-card {
  width: 90%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(255, 140, 0, 0.3);
  text-align: center;

  opacity: 0;
  transform: translateY(10px) scale(0.95);
  transition: all 0.4s ease;
}

.weather-card.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}


.weather-card h2 {
  font-size: 28px;
  margin-bottom: 12px;
  color: #333;
}

.weather-card p {
  margin: 6px 0;
  font-size: 18px;
  font-weight: 500;
  color: #444;
}

.weather-card .weather-icon {
  width: 80px;
  margin-top: 10px;
}
